In [1]:
# pip install yfinance

# PART 1 DATASETUP

## importing libraries

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import timedelta
pd.set_option('display.max_columns', None)

## tickers

In [3]:
series = pd.read_csv('symbol.csv', header=None).squeeze()
series = series.apply(lambda ticker : f"{ticker}.NS")
series.to_list()

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

## downloading 15 years data from 2008-2023 for all 50 tickers

In [4]:
start_date = '2008-01-01'
end_date = '2023-06-22'

dd = yf.download(series[0],start_date, end_date)
dd

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2008-01-01,91.880730,92.490005,89.290382,92.490005,75.362518,2840553
2008-01-02,96.134117,97.115074,88.539337,97.115074,79.131104,9666830
2008-01-03,97.789490,101.973892,95.873550,97.532753,79.471443,8934134
2008-01-04,99.237938,101.161537,94.513229,97.237694,79.231026,2682758
2008-01-07,92.945992,96.946472,92.831039,95.977013,78.203796,4345703
...,...,...,...,...,...,...
2023-06-15,2469.000000,2527.000000,2462.899902,2485.649902,2485.649902,3744029
2023-06-16,2499.199951,2526.899902,2487.399902,2509.600098,2509.600098,7999982
2023-06-19,2504.000000,2521.600098,2350.000000,2401.399902,2401.399902,11475674
2023-06-20,2435.000000,2435.000000,2390.000000,2414.800049,2414.800049,2479711
2023-06-21,2426.699951,2440.000000,2393.100098,2405.949951,2405.949951,7418013

## downloading all tickers as csv files

In [5]:
for ticker in series:
    tickerName = ticker.split(".")[0]
    data = yf.download(ticker, start_date,end_date)
    data.insert(0,'company',tickerName)
    data.to_csv(f"C:\\keshav\\50stocks_performance\\15YrsNifty50Data\\{ticker}.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## downloading file for nifty

In [4]:
nifty = yf.download('^NSEI',start_date, end_date)
nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2008-01-01,6136.750000,6165.350098,6109.850098,6144.350098,6144.350098,0
2008-01-02,6144.700195,6197.000000,6060.850098,6179.399902,6179.399902,0
2008-01-03,6184.250000,6230.149902,6126.399902,6178.549805,6178.549805,0
2008-01-04,6179.100098,6300.049805,6179.100098,6274.299805,6274.299805,0
2008-01-07,6271.000000,6289.799805,6193.350098,6279.100098,6279.100098,0
...,...,...,...,...,...,...
2023-06-15,18774.449219,18794.099609,18669.050781,18688.099609,18688.099609,263000
2023-06-16,18723.300781,18864.699219,18710.500000,18826.000000,18826.000000,272800
2023-06-19,18873.300781,18881.449219,18719.150391,18755.449219,18755.449219,219800
2023-06-20,18752.349609,18839.699219,18660.650391,18816.699219,18816.699219,211600
2023-06-21,18849.400391,18875.900391,18794.849609,18856.849609,18856.849609,217500

In [5]:
# nifty.to_csv('Nifty2008-2023.csv')

In [6]:
nifty.insert(0,'company','Nifty')

In [7]:
nifty.reset_index(inplace=True)

In [8]:
nifty

,Date,company,Open,High,Low,Close,Adj Close,Volume
0,2008-01-01,Nifty,6136.750000,6165.350098,6109.850098,6144.350098,6144.350098,0
1,2008-01-02,Nifty,6144.700195,6197.000000,6060.850098,6179.399902,6179.399902,0
2,2008-01-03,Nifty,6184.250000,6230.149902,6126.399902,6178.549805,6178.549805,0
3,2008-01-04,Nifty,6179.100098,6300.049805,6179.100098,6274.299805,6274.299805,0
4,2008-01-07,Nifty,6271.000000,6289.799805,6193.350098,6279.100098,6279.100098,0
...,...,...,...,...,...,...,...,...
3786,2023-06-15,Nifty,18774.449219,18794.099609,18669.050781,18688.099609,18688.099609,263000
3787,2023-06-16,Nifty,18723.300781,18864.699219,18710.500000,18826.000000,18826.000000,272800
3788,2023-06-19,Nifty,18873.300781,18881.449219,18719.150391,18755.449219,18755.449219,219800
3789,2023-06-20,Nifty,18752.349609,18839.699219,18660.650391,18816.699219,18816.699219,211600
3790,2023-06-21,Nifty,18849.400391,18875.900391,18794.849609,18856.849609,18856.849609,217500

## appending all in one

In [9]:
df = pd.DataFrame()
for ticker in series:
    tickerName = ticker.split(".")[0]
    data = yf.download(ticker, start_date,end_date)
    data.insert(0,'company',tickerName)
    df = pd.concat([df,data])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
df.reset_index(inplace=True)
df

,Date,company,Open,High,Low,Close,Adj Close,Volume
0,2008-01-01,ADANIENT,91.880730,92.490005,89.290382,92.490005,75.362526,2840553
1,2008-01-02,ADANIENT,96.134117,97.115074,88.539337,97.115074,79.131119,9666830
2,2008-01-03,ADANIENT,97.789490,101.973892,95.873550,97.532753,79.471436,8934134
3,2008-01-04,ADANIENT,99.237938,101.161537,94.513229,97.237694,79.231018,2682758
4,2008-01-07,ADANIENT,92.945992,96.946472,92.831039,95.977013,78.203789,4345703
...,...,...,...,...,...,...,...,...
185163,2023-06-15,WIPRO,397.100006,397.450012,388.250000,388.950012,388.950012,14351160
185164,2023-06-16,WIPRO,385.549988,388.649994,379.149994,381.299988,381.299988,20555324
185165,2023-06-19,WIPRO,382.000000,382.000000,377.100006,380.149994,380.149994,5314720
185166,2023-06-20,WIPRO,381.799988,384.950012,380.600006,382.500000,382.500000,5901329
185167,2023-06-21,WIPRO,384.250000,387.250000,383.100006,385.500000,385.500000,4414632

In [12]:
merged_df = pd.concat([nifty,df])

In [13]:
merged_df

,Date,company,Open,High,Low,Close,Adj Close,Volume
0,2008-01-01,Nifty,6136.750000,6165.350098,6109.850098,6144.350098,6144.350098,0
1,2008-01-02,Nifty,6144.700195,6197.000000,6060.850098,6179.399902,6179.399902,0
2,2008-01-03,Nifty,6184.250000,6230.149902,6126.399902,6178.549805,6178.549805,0
3,2008-01-04,Nifty,6179.100098,6300.049805,6179.100098,6274.299805,6274.299805,0
4,2008-01-07,Nifty,6271.000000,6289.799805,6193.350098,6279.100098,6279.100098,0
...,...,...,...,...,...,...,...,...
185163,2023-06-15,WIPRO,397.100006,397.450012,388.250000,388.950012,388.950012,14351160
185164,2023-06-16,WIPRO,385.549988,388.649994,379.149994,381.299988,381.299988,20555324
185165,2023-06-19,WIPRO,382.000000,382.000000,377.100006,380.149994,380.149994,5314720
185166,2023-06-20,WIPRO,381.799988,384.950012,380.600006,382.500000,382.500000,5901329
185167,2023-06-21,WIPRO,384.250000,387.250000,383.100006,385.500000,385.500000,4414632

In [14]:
merged_df = merged_df.pivot_table(index='Date', columns='company', values=['Adj Close'])

In [15]:
merged_df = merged_df.droplevel(0, axis=1)

In [16]:
merged_df

company,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,CIPLA,COALINDIA,DIVISLAB,DRREDDY,EICHERMOT,GRASIM,HCLTECH,HDFC,HDFCBANK,HDFCLIFE,HEROMOTOCO,HINDALCO,HINDUNILVR,ICICIBANK,INDUSINDBK,INFY,ITC,JSWSTEEL,KOTAKBANK,LT,M&M,MARUTI,NESTLEIND,NTPC,Nifty,ONGC,POWERGRID,RELIANCE,SBILIFE,SBIN,SUNPHARMA,TATACONSUM,TATAMOTORS,TATASTEEL,TCS,TECHM,TITAN,ULTRACEMCO,UPL,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008-01-01,75.362526,238.615982,268.915985,98.244827,173.687988,434.788544,2557.110840,37.539066,416.411255,47.421425,115.663063,194.835587,NaN,409.913239,640.471924,33.301044,506.102570,56.738819,470.366180,154.270935,NaN,425.567108,170.715347,161.327011,182.254593,115.694321,155.219604,50.279850,102.037903,318.866852,751.518372,189.187317,884.453979,437.195587,123.419922,6144.350098,110.081360,69.142876,632.417175,NaN,186.265533,107.708534,71.094826,130.937180,27.211239,194.158310,222.260834,70.003738,926.827087,99.161484,99.768959
2008-01-02,79.131119,240.566330,269.395905,98.435364,184.778412,434.046265,2559.071777,40.221043,415.830322,47.526310,116.824104,201.988449,NaN,412.034882,658.489563,32.998901,503.427521,55.382233,492.286438,153.004303,NaN,425.749878,172.180908,159.369995,187.965149,116.635658,155.348495,51.088577,100.854561,345.012970,750.086609,187.262909,889.359863,437.195587,123.252136,6179.399902,111.781128,68.765556,635.414734,NaN,189.379700,106.512695,75.731522,136.295944,27.249178,193.320541,219.179703,71.269974,927.434326,105.006866,98.869865
2008-01-03,79.471436,234.742874,261.283051,98.673592,184.992767,430.493164,2532.598633,39.113079,408.449768,49.459831,118.624565,199.681076,NaN,410.936005,630.888733,34.775002,484.346283,54.615868,490.065430,151.140045,NaN,432.604614,168.695282,164.576462,182.284256,114.842644,151.860855,49.551987,103.812912,332.786011,734.951904,181.937805,868.085938,437.195587,132.360580,6178.549805,115.000175,71.595428,644.729248,NaN,187.183731,102.120361,74.306023,135.960999,27.033180,186.149338,220.856796,69.881416,922.062683,105.511513,95.940613
2008-01-04,79.231018,228.220184,260.985931,98.833862,188.394882,432.953674,2540.442871,44.011005,408.126984,49.012917,118.040092,197.189117,NaN,409.847931,643.607300,33.929825,483.163208,55.505554,503.182007,151.318451,NaN,426.877106,174.200974,171.370712,190.790741,117.890747,150.603485,50.684219,103.244446,340.505066,770.114929,180.144608,860.013367,437.195587,130.131454,6274.299805,118.289658,71.218109,664.557129,NaN,186.679703,99.939926,76.386803,134.252060,27.184965,185.072281,218.409454,69.559746,913.000854,107.516060,96.027618
2008-01-07,78.203789,225.809830,255.729630,105.027763,194.690201,423.053253,2485.535400,42.762344,403.264008,47.462463,119.479652,196.266113,NaN,409.390991,629.122437,33.876747,472.900116,52.730721,501.540436,147.661285,NaN,427.730164,172.695801,175.174042,202.100540,117.218391,145.445343,53.445442,100.479439,342.703461,776.295532,177.968643,859.656494,437.195587,128.861053,6279.100098,114.396851,70.628563,670.607544,NaN,187.781570,100.866066,75.064751,134.896149,27.022968,179.622452,211.671860,75.698425,923.417297,108.315071,93.282051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-15,2485.649902,739.500000,5218.750000,3294.350098,977.150024,4721.549805,1474.699951,7126.600098,829.700012,378.899994,4975.450195,998.200012,228.600006,3581.050049,4803.450195,3534.699951,1772.500000,1143.599976,2620.149902,1582.050049,576.250000,2843.050049,423.049988,2667.910156,926.599976,1297.099976,1286.800049,448.100006,770.599976,1833.500000,2361.300049,1392.750000,9594.849609,22966.199219,186.699997,18688.099609,157.649994,246.449997,2552.550049,1241.099976,566.500000,988.400024,865.000000,568.450012,110.154739,3216.300049,1081.500000,2898.105957,8333.200195,680.799988,388.950012
2023-06-16,2509.600098,747.400024,5200.049805,3316.850098,981.549988,4641.950195,1508.599976,7203.200195,837.799988,376.799988,5044.700195,1006.049988,228.550003,3579.600098,4915.049805,3538.899902,1780.750000,1148.199951,2650.449951,1602.750000,609.549988,2832.050049,426.950012,2693.649902,934.200012,1314.000000,1291.650024,453.100006,776.099976,1857.400024,2366.800049,1403.849976,9603.700195,22968.550781,188.199997,18826.000000,157.000000,246.449997,2577.399902,1281.349976,571.250000,992.000000,862.750000,569.799988,110.638939,3174.899902,1077.199951,2944.248535,8333.250000,690.849976,381.299988
2023-06-19,2401.399902,735.650024,5145.000000,3309.699951,965.650024,4597.350098,1541.949951,7386.200195,828.150024,374.750000,5021.049805,1011.250000,227.149994,3584.750000,4879.000000,3496.649902,1761.300049,1137.550049,2654.800049,1604.150024,626.549988,2782.600098,426.149994,2683.250000,923.150024,1301.400024,1294.000000,453.600006,771.650024,1824.550049,2366.350098,1402.550049,9532.000000,22794.849609,185.850006,18755.449219,157.800003,243.100006,2551.800049,1280.500000,568.849976,1001.799988,857.000000,566.049988,110.493675,3210.399902,1093.599976,2958.499756,8268.599609,685.599976,380.149994
2023-06-20,2414.800049,737.799988,5162.049805,3318.699951,974.849976,4662.000000,1521.050049,7248.799805,831.200012,372.450012,5056.450195,1011.150024,227.250000,3566.199951,4901.200195,3562.100098,1769.099976,1168.650024,2658.550049,1607.500000,643.700012,2800.699951,428.950012,2676.100098,925.549988,1298.400024,1303.400024,452.850006,773.150024,1844.000000,2382.000000,1396.449951,9492.099609,22955.550781,187.500000,18816.699219,157.250000,248.750000,2557.100098,1295.349976,567.400024,991.950012,858.900024,583.250000,110.638939,3227.699951,1107.349976,2963.881348,8243.450195,683.450012,382.500000
2023-06-21,2405.949951,749.450012,5118.750000,3316.100098,966.000000,4650.149902,1519.250000,7206.149902,839.000000,372.799988,5069.549805,1008.900024,228.449997,3509.550049,4910.399902,3570.449951,1777.900024,1170.449951,2702.000000,1635.599976,642.500000,2823.550049,420.950012,2676.600098,924.700012,1286.599976,1299.349976,447.049988,758.750000,1845.550049,2394.449951,1374.250000,9440.849609,22891.599609,187.500000,18856.849609,160.199997,258.200012,2564.300049,1294.949951,566.349976,991.900024,860.150024,581.400024,110.300003,3258.199951,1119.900024,2960.991455,8241.549805,686.099976,385.500000

In [17]:
nfitycol = merged_df['Nifty']
nfitycol

Date
2008-01-01     6144.350098
2008-01-02     6179.399902
2008-01-03     6178.549805
2008-01-04     6274.299805
2008-01-07     6279.100098
                  ...
2023-06-15    18688.099609
2023-06-16    18826.000000
2023-06-19    18755.449219
2023-06-20    18816.699219
2023-06-21    18856.849609
Name: Nifty, Length: 3815, dtype: float64

In [18]:
merged_df.drop(columns=['Nifty'],inplace=True)

In [19]:
merged_df.insert(0,'Nifty',nfitycol)

In [20]:
merged_df

company,Nifty,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,CIPLA,COALINDIA,DIVISLAB,DRREDDY,EICHERMOT,GRASIM,HCLTECH,HDFC,HDFCBANK,HDFCLIFE,HEROMOTOCO,HINDALCO,HINDUNILVR,ICICIBANK,INDUSINDBK,INFY,ITC,JSWSTEEL,KOTAKBANK,LT,M&M,MARUTI,NESTLEIND,NTPC,ONGC,POWERGRID,RELIANCE,SBILIFE,SBIN,SUNPHARMA,TATACONSUM,TATAMOTORS,TATASTEEL,TCS,TECHM,TITAN,ULTRACEMCO,UPL,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008-01-01,6144.350098,75.362526,238.615982,268.915985,98.244827,173.687988,434.788544,2557.110840,37.539066,416.411255,47.421425,115.663063,194.835587,NaN,409.913239,640.471924,33.301044,506.102570,56.738819,470.366180,154.270935,NaN,425.567108,170.715347,161.327011,182.254593,115.694321,155.219604,50.279850,102.037903,318.866852,751.518372,189.187317,884.453979,437.195587,123.419922,110.081360,69.142876,632.417175,NaN,186.265533,107.708534,71.094826,130.937180,27.211239,194.158310,222.260834,70.003738,926.827087,99.161484,99.768959
2008-01-02,6179.399902,79.131119,240.566330,269.395905,98.435364,184.778412,434.046265,2559.071777,40.221043,415.830322,47.526310,116.824104,201.988449,NaN,412.034882,658.489563,32.998901,503.427521,55.382233,492.286438,153.004303,NaN,425.749878,172.180908,159.369995,187.965149,116.635658,155.348495,51.088577,100.854561,345.012970,750.086609,187.262909,889.359863,437.195587,123.252136,111.781128,68.765556,635.414734,NaN,189.379700,106.512695,75.731522,136.295944,27.249178,193.320541,219.179703,71.269974,927.434326,105.006866,98.869865
2008-01-03,6178.549805,79.471436,234.742874,261.283051,98.673592,184.992767,430.493164,2532.598633,39.113079,408.449768,49.459831,118.624565,199.681076,NaN,410.936005,630.888733,34.775002,484.346283,54.615868,490.065430,151.140045,NaN,432.604614,168.695282,164.576462,182.284256,114.842644,151.860855,49.551987,103.812912,332.786011,734.951904,181.937805,868.085938,437.195587,132.360580,115.000175,71.595428,644.729248,NaN,187.183731,102.120361,74.306023,135.960999,27.033180,186.149338,220.856796,69.881416,922.062683,105.511513,95.940613
2008-01-04,6274.299805,79.231018,228.220184,260.985931,98.833862,188.394882,432.953674,2540.442871,44.011005,408.126984,49.012917,118.040092,197.189117,NaN,409.847931,643.607300,33.929825,483.163208,55.505554,503.182007,151.318451,NaN,426.877106,174.200974,171.370712,190.790741,117.890747,150.603485,50.684219,103.244446,340.505066,770.114929,180.144608,860.013367,437.195587,130.131454,118.289658,71.218109,664.557129,NaN,186.679703,99.939926,76.386803,134.252060,27.184965,185.072281,218.409454,69.559746,913.000854,107.516060,96.027618
2008-01-07,6279.100098,78.203789,225.809830,255.729630,105.027763,194.690201,423.053253,2485.535400,42.762344,403.264008,47.462463,119.479652,196.266113,NaN,409.390991,629.122437,33.876747,472.900116,52.730721,501.540436,147.661285,NaN,427.730164,172.695801,175.174042,202.100540,117.218391,145.445343,53.445442,100.479439,342.703461,776.295532,177.968643,859.656494,437.195587,128.861053,114.396851,70.628563,670.607544,NaN,187.781570,100.866066,75.064751,134.896149,27.022968,179.622452,211.671860,75.698425,923.417297,108.315071,93.282051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-15,18688.099609,2485.649902,739.500000,5218.750000,3294.350098,977.150024,4721.549805,1474.699951,7126.600098,829.700012,378.899994,4975.450195,998.200012,228.600006,3581.050049,4803.450195,3534.699951,1772.500000,1143.599976,2620.149902,1582.050049,576.250000,2843.050049,423.049988,2667.910156,926.599976,1297.099976,1286.800049,448.100006,770.599976,1833.500000,2361.300049,1392.750000,9594.849609,22966.199219,186.699997,157.649994,246.449997,2552.550049,1241.099976,566.500000,988.400024,865.000000,568.450012,110.154739,3216.300049,1081.500000,2898.105957,8333.200195,680.799988,388.950012
2023-06-16,18826.000000,2509.600098,747.400024,5200.049805,3316.850098,981.549988,4641.950195,1508.599976,7203.200195,837.799988,376.799988,5044.700195,1006.049988,228.550003,3579.600098,4915.049805,3538.899902,1780.750000,1148.199951,2650.449951,1602.750000,609.549988,2832.050049,426.950012,2693.649902,934.200012,1314.000000,1291.650024,453.100006,776.099976,1857.400024,2366.800049,1403.849976,9603.700195,22968.550781,188.199997,157.000000,246.449997,2577.399902,1281.349976,571.250000,992.000000,862.750000,569.799988,110.638939,3174.899902,1077.199951,2944.248535,8333.250000,690.849976,381.299988
2023-06-19,18755.449219,2401.399902,735.650024,5145.000000,3309.699951,965.650024,4597.350098,1541.949951,7386.200195,828.150024,374.750000,5021.049805,1011.250000,227.149994,3584.750000,4879.000000,3496.649902,1761.300049,1137.550049,2654.800049,1604.150024,626.549988,2782.600098,426.149994,2683.250000,923.150024,1301.400024,1294.000000,453.600006,771.650024,1824.550049,2366.350098,1402.550049,9532.000000,22794.849609,185.850006,157.800003,243.100006,2551.800049,1280.500000,568.849976,1001.799988,857.000000,566.049988,110.493675,3210.399902,1093.599976,2958.499756,8268.599609,685.599976,380.149994
2023-06-20,18816.699219,2414.800049,737.799988,5162.049805,3318.699951,974.849976,4662.000000,1521.050049,7248.799805,831.200012,372.450012,5056.450195,1011.150024,227.250000,3566.199951,4901.200195,3562.100098,1769.099976,1168.650024,2658.550049,1607.500000,643.700012,2800.699951,428.950012,2676.100098,925.549988,1298.400024,1303.400024,452.850006,773.150024,1844.000000,2382.000000,1396.449951,9492.099609,22955.550781,187.500000,157.250000,248.750000,2557.100098,1295.349976,567.400024,991.950012,858.900024,583.250000,110.638939,3227.699951,1107.349976,2963.881348,8243.450195,683.450012,382.500000
2023-06-21,18856.849609,2405.949951,749.450012,5118.750000,3316.100098,966.000000,4650.149902,1519.250000,7206.149902,839.000000,372.799988,5069.549805,1008.900024,228.449997,3509.550049,4910.399902,3570.449951,1777.900024,1170.449951,2702.000000,1635.599976,642.500000,2823.550049,420.950012,2676.600098,924.700012,1286.599976,1299.349976,447.049988,758.750000,1845.550049,2394.449951,1374.250000,9440.849609,22891.599609,187.500000,160.199997,258.200012,2564.300049,1294.949951,566.349976,991.900024,860.150024,581.400024,110.300003,3258.199951,1119.900024,2960.991455,8241.549805,686.099976,385.500000