In [1]:
import numpy as np
import pandas as pd

In [2]:
df =pd.read_csv('C:\\keshav\\Rahul\\Options_data\\NIFTY & BANKNIFTY (Jan 2020 to 19 Dec 2022)\\NIFTY & BANKNIFTY Spot Indices (Jan 2020 to 19 Dec 2022)\\BANKNIFTY.csv',header=None)
df.rename(columns={
                    0 : 'date',
                    1 : 'time',
                    2 : 'open',
                    3 : 'high',
                    4 : 'low',
                    5 : 'close'
    },inplace=True)
df

            date   time      open      high       low     close
0       20200101  09:07  32237.90  32237.90  32237.90  32237.90
1       20200101  09:15  32227.80  32295.80  32220.90  32292.00
2       20200101  09:16  32296.35  32303.30  32283.95  32288.25
3       20200101  09:17  32285.05  32290.85  32279.35  32282.95
4       20200101  09:18  32280.20  32296.25  32270.70  32292.45
...          ...    ...       ...       ...       ...       ...
277466  20221219  15:26  43428.05  43435.30  43425.95  43433.90
277467  20221219  15:27  43436.65  43451.45  43432.80  43444.60
277468  20221219  15:28  43446.15  43448.25  43422.00  43428.60
277469  20221219  15:29  43429.40  43451.40  43424.80  43448.40
277470  20221219  15:31  43412.90  43413.75  43412.90  43413.75

[277471 rows x 6 columns]

In [ ]:
df['date'] = df['date'].astype('str')
datetime = pd.to_datetime(df['date'] + ' ' + df['time'], format='%Y%m%d %H:%M')
df.insert(1,'datetime',datetime) 
df['date'] = pd.to_datetime(df['date'])
df.set_index('datetime',inplace=True)
df= df.between_time('09:15:00', '15:29:00')
df=df.reset_index()
df.drop('datetime',axis=1,inplace=True)